section#proc
  =link_to image_tag('usp-w-bannery-pridat.png'), add_ebook_path
  =link_to image_tag('usp-bannery-w-vydani-e-knihy.png'), ebook_publishing_path
  =link_to image_tag('usp-w-bannery-propagace.png'), propagation_path