section.what_are_ebooks
  h2 = I18n.t('app.page.what_are_ebooks')
  .justify
    h3 Elektronické knihy u nás zakoupíte ve formátu PDF, ePUB, MOBI
    p <strong>PDF</strong> <strong>formát</strong> byl vyvinutý pro ukládání a zobrazování dokumentů, které vypadají na všech zařízeních stejně. PDF se neumí pružně přizpůsobovat zařízením, na kterém danou e-knihu zobrazujeme. Uživatelské přizpůsobení je taktéž velmi omezené. Je proto nutné zdůraznit, že <strong>knihy v EPUB a MOBI se výrazně liší od knih v PDF</strong>. Cílem elektronických formátů EPUB a MOBI je to, <strong>aby zobrazovaný dokument</strong> vyhovoval čtenáři (<strong>zvyšoval čtenářský komfort</strong>). Oproti tomu <strong>cílem PDF je zajistit co nejpřesnější stejné zobrazení</strong> na libovolném zařízení včetně čteček. Z&nbsp;tohoto pohledu knihy ve formátu PDF nejsou pravé elektronické knihy, formát to je ale vhodný do počítače.

    h3 E-knihy pro čtečku Amazon Kindle
    p Formát MOBI vyvinula americká společnost Amazon pro <strong>čtečky Kindle</strong>. Tyto čtečky používají univerzální otevřený formát mobipocket, zkráceně MOBI. Často se také můžeme setkat s jeho rozšířenou proprietární variantou AZW, která je vyhrazena pouze pro Kindle. Kromě MOBI a AZW Kindle nativně podporuje také formáty: Kindle Format 8 (AZW3), TXT, PDF, nechráněný MOBI a formát PRC.

    h3 E-knihy ve formátu EPUB
    p Alternativou k MOBI (AZW) je formát electronic publication, zkráceně EPUB (ePUB). Ze spektra 28 různých formátů EPUB postupem času vykrystalizoval v dominantní standard respektovaný a podporovaný většinou výrobců (kromě Amazonu). Formát EPUB lze číst na <strong>čtečkách Pocketbook</strong> a ostatních typech čteček včetně tabletů atp. více informací najdete na stránce <strong><a href="/jak-cist-e-knihy.html">Jak číst e-knihy</a></strong>. Zpravidla platí, že pokud nevíte, jaký formát elektronické publikace zvolit, vyberte EPUB. Pokud se stane, že vaše čtečka EPUB nebude podporovat, nezoufejte – existuje množství nástrojů pro vzájemnou konverzi jednotlivých formátů. Asi nejznámějším z nich je <strong>program Calibre</strong>. V případě, že používáte Kindle, můžete využít bezplatný <strong>nástroj Kindlegen</strong>, který je dodáván přímo společností Amazon a umožňuje konverzi do formátu MOBI.
  .cleaner