<%= render 'layouts/breadcrumb' %>
<h1>Jak funguje knihovnička</h1>

<p>Všem registrovaným uživatelům je k dispozici online knihovnička. Do ní se ukládají všechna zakoupené e-knihy. Kromě přehledu svých e-knih však také máte možnost si je snadno a rychle jedním kliknutím stáhnout – v libovolném dostupném formátu.
</p>
<h2>Jak na to?</h2>
<ul>
  <li>Koupíte si e-knihu</li>
  <li>automaticky se nahraje do knihovničky</li>
  <li>kde si všechy e-knihy můžete prohlédnout</li>
  <li>a stáhnout v libovolném množství a formátu.</li>
</ul>
  <h2>Výhody knihovničky</h2>

<ul>
  <li>Stálý přístup k zakoupeným e-knížkám</li>
  <li>Všechny zakoupené e-knížky na jednom místě</li>
  <li>Přehled všech e-knih řazený podle abecedy</li>
  <li>Neomezený počet stažení</li>
  <li>K dispozici všechny dostupné formáty</li>
</ul>
<br>
<p>Chcete také využívat knihovničku a ještě nemáte účet? Registrujte se – stačí vyplnit e-mail a zvolit heslo.</p>