<%= render partial: 'layouts/breadcrumb' %>
<h1>Výhody registrace</h1>
<p>Vytvořte si u nás během minuty účet a získejte možnost stáhnutí e-knih zdarma a stažení e-knih za peníze.</p>
<p>Prosím vyplňte jednoduchý formulář umístěný níže. Po úspěšné registraci získáte účet s knihovničkou kam se uloží všechny vámi zakoupené e-knihy.</p>

<h2>Hlavní výhody</h2>
<ul>
  <li>Možnost stahovat e-knihy zdarma</li>
  <li>Informace o slevách, akcích a zajímavostech ze světa knih</li>
  <li>Stálý přístup k zakoupeným e-knížkám</li>
  <li>Všechny zakoupené e-knížky na jednom místě</li>
  <li>Přehled všech e-knih řazený podle abecedy a data přidání</li>
  <li>Neomezený počet stažení</li>
  <li>K dispozici všechny dostupné formáty</li>
</ul>
<h2>Další výhody</h2>
<ul>
  <li>Přehled všech vašich objednávek</li>
  <li>Přehled všech dokladů o nákupu</li>
</ul>
    <br>
    <h1>Registrujte se a založte si tak knihovničku</h1>
    <p>Chcete také využívat knihovničku a ještě nemáte účet? Registrujte se – stačí vyplnit e-mail a zvolit heslo.</p>
    / zde mozna nested registracni formular:
    / = render partial: 'users/registrations/sign_up_form'
<%= render partial: 'crossroads_link_footer' %>
