<%= render 'layouts/breadcrumb' %>
<h1>Kolik vyděláte prodejem e-knih?</h1>
<h2>Autorům vyplácíme provize z prodeje eknih</h2>
<p>Provize je odměna autorovi získávaná z prodeje jeho děl. Máme zajištěnou distribuci po celé ČR a SR. Pokud budete chtít prodávat a nabízet elektronickou knihu přes naše nakladatelství,
  sepíšeme s vámi Nevýhradní licenční smlouvu, která vám zaručí roční výplatu podílu z prodaných knih. V současné době činí autorský honorář až 67 % z čistého výdělku (v případě,
  prodejů přes e-shop Databook.cz).</p>
<h2>Jak se vypočítá podíl autora?</h2>
<p>Provize na Databook.cz je pro vás 67 % z každé prodané e-knihy.
<br>U ostatních prodejců je vaše provize 50 % z částky po odečtení marže prodejce a DPH. Knihkupectví si většinou berou marži okolo 30 %. DPH na e-knihy je 21 %.</p>
<p><strong>Ukázkový výpočet:</strong></p>
<p>Cena knihy: 100 Kč<br>
DPH 10 %: 10 Kč<br>
Marže prodejce 50 %: 50 Kč <br>
Čistý zisk: 45 Kč.<br>
Váš podíl: 22.5 Kč.</p>
<h3>Pro srovnání při prodeji přes Databook.cz:</h3>
<p>Váš podíl: 67 Kč.</p>
<p>U nás máte prostě nejlepší podmínky pro prodej vašich knih.</p>
<p>Samozřejmě záleží, jak vaše e-kniha bude úspěšná. Pokud prodáte na e-shopu Databook.cz například 200 elektronických knih po 100 Kč za knihu, vyplatíme vám provizi 13 400 Kč.</p>
<p>Prodej především zvýšíte vaším zapojením. Založte si blog, facebook stránku, mluvte o své knize mezi známými a přáteli. Hledáte-li více informací, jak svoji knihu co nejlépe a nejúčinněji propagovat, přihlaste se na užitečný kurz jak vydat a propagovat elektronickou knihu nebo si objednejte rozšířenou propagaci knih dokážeme vám poradit.</p>
<%= I18n.t('app.page.help.list_about_publishing.before_form_text').html_safe %>
<%= render 'pages/contact_form' %>