<%= render partial: 'layouts/breadcrumb' %>
<h1>Reklamace e-knih</h1>
<p>Elektronické knihy před zařazením do prodeje kontrolujeme. Výjimečně se však i přes snahu vše odladit vyskytnou drobné chyby. Pokud vám e-kniha nejde stáhnout, kontaktujte nás a my co nejrychleji vše vyřešíme k vaší spokojenosti.</p>
<h2>Součástí reklamace e-knih by mělo být:</h2>
<ul>
  <li>Vaše jméno / e-mail / nebo číslo objednávky</li>
  <li>Název titulu, který reklamujete</li>
  <li>Popis problému a chyb</li>
</ul>
<h2>Kam reklamaci zaslat?</h2>
<p>Pro reklamaci můžete využít <strong><a href="/kontakt">kontaktní formulář</a></strong>. Vše vyřešíme k vaší spokojenosti a rychle.</p>
<h2>Vrácení e-knihy do 14 dní</h2>
<p>Odstoupení od kupní smlouvy ve lhůtě 14 dnů platí jen na fyzické zboží.</p>
<p>Prodáváme digitální obsah. zde jsou trochu jiné podmínky, které upravuje občanský zákoník. Dle § 1837l občanského zákona.č. 89/2012 Sb. od zaplacené objednávky nejde ve lhůtě 14 dní odstoupit, jelikož předmětem objednávky je dodání digitálního obsahu (tj. elektronicky poskytované služby), které nepodléhá ustanovení občanského zákoníku o bezdůvodném odstoupení v délce 14 dnů.
</p>

<h2>Kdy nejde reklamovat?</h2>
<ul>
  <li>Nemůžete odstoupit od zaplacené objednávky z důvodu, že jste údajně nevěděli, že předmětem objednávky je elektronická, nikoli tištěná kniha (tato informace je zobrazena u produktů, i popsána v obchodních podmínkách).</li>
  <li>Důvodem k reklamaci není ani to, že e-knihy není možné tisknout.</li>
</ul>
<br>
<%= render partial: 'crossroads_link_footer' %>


