<%= render 'layouts/breadcrumb' %>
<h1>Reklamace eknih</h1>
<p>Elektronické knihy před zařazením do prodeje kontrolujeme. Výjimečně se však i přes snahu vše odladit vyskytnou drobné chyby. Pokud vám e-kniha nejde stáhnout, kontaktujte nás a my co nejrychleji vše vyřešíme k vaší spokojenosti.
</p>
<h2>Součástí reklamace e-knih by mělo být:</h2>

<ul><li>Vaše jméno / e-mail / nebo číslo objednávky</li>
  <li>Název titulu, který reklamujete</li>
  <li>Popis problému</li>
</ul>
<h2>Kam reklamaci zaslat?</h2>

<p>Obraťte se na nás nejlépe e-maiem na info@databook.cz či pro reklamaci využijte kontaktní formulář. Vše vyřešíme k vaší spokojenosti a rychle.
</p>
<h1>Vrácení e-knihy do 14 dní</h1>
<p>Odstoupení od kupní smlouvy ve lhůtě 14 dnů</p>

<p>Prodáváme digitální obsah. zde jsou trochu jiné podmínky, které upravuje občanský zákoník. Dle § 1837l občanského zákona.č. 89/2012 Sb. od zaplacené objednávky nejde ve lhůtě 14 dní odstoupit, jelikož předmětem objednávky je dodání digitálního obsahu (tj. elektronicky poskytované služby), které nepodléhá ustanovení občanského zákoníku o bezdůvodném odstoupení v délce 14 dnů. Proto nemůžete odstoupit od zaplacené objednávky z důvodu, že jste údajně nevěděl/a, že předmětem objednávky je elektronická, nikoli tištěná kniha (ve všech krocích nákupu je tato informace viditelně zobrazena).
</p>
<p>Protože nejsme žádní přeprodejci, máme všechny e-knihy plně pod kontrolou. Díky tomu máte u nás nejjednodušší proces reklamace. Elektronické knihy před uvedením do distribuce kontrolujeme. Někdy se však mohou vyskytnout menší potíže. Pokud se tak stane, neváhejte se na nás obrátit. Většinu požadavků řešíme do 24 hodin.
</p>
