<%= render 'layouts/breadcrumb' %>

<div class="obsah">
  <h1 class="blog-title" itemprop="name">Jak se dělá elektronická kniha?</h1>
  <div class="html_textcontent popis" itemprop="articleBody"><p>Vydání spočívá v několika krocích, které jsme popsali níže.</p>
    <h2>1) Než se pro nás rozhodnete potřebujeme znát pár informací</h2>
    <p>Většinou se na naše nakladatelství obracíte s hotovým rukopisem s přáním jej vydat jako elektronickou knihu neboli ebook. K sestavení ceny za vydání knihy potřebujeme znát několik základních odpovědí na otázky níže:</p>
    <p><strong>Prošel text jazykovou a gramatickou korekturou? Viděl váš text i editor?</strong></p>
    <p>Správný rukopis eknihy by měl projít minimálně korekturami, ty lze u nás objednat.</p>
    <p><strong>Máte grafický návrh obálky?</strong></p>
    <p>O úspěšnosti eknihy kromě obsahu rozhoduje obálka. Je jednou z nejdůležitějších částí knihy. Pokud obálku nemáte, vytvoříme ji s ohledem na cílovou skupinu čtenářů, obsah díla i vaše preference.</p>
    <p><strong>Budou v knize obrázky nebo tabulky?</strong></p>
    <p>I toto potřebujeme vědět, včetně počtu obrázků, které v knize budou.</p>
    <h2>2) Plácneme si</h2>
    <p>Když se domluvíme na spolupráci, podepíšeme spolu smlouvu k vydání elektronické knihy. Ve smlouvě jsou uvedeny všechny důležité informace pro vydání a distribuci eknihy včetně provizí. Zde je stručný souhrn:</p>
    <ul>
      <li>Smlouva je jen na vydání elektronické knihy – např. tištěnou verzi můžete vydat v jiném nakladatelství.</li>
      <li>Zajišťujeme distribuci přes všechny distribuce v ČR a SR – podívejte se na <a href="https://eknihyhned.cz/blog/prodejci-elektronickych-knih">seznam distributorů našeho nakladatelství</a>.  </li>
      <li>Nezávislost – hotový ebook můžete prodávat i sami na svém webu nezávisle na našem nakladatelství.</li>
      <li>Můžete použít vlastní návrh obálky.</li>
      <li>Můžete použít svého vlastního korektora textu.</li>
      <li>ISBN – samozřejmostí je přidělení ISBN knihy.</li>
    </ul>
    <h2>3) Co děláme my</h2>
    <ul>
      <li>Zpracováváme spolu korektury – pokud jste si objednali korektury textu u nás, jde rukopis korektorce, které neujde ani jedna chybička. Pomůže vám i se stylistikou.*</li>
      <li>Zpracováváme spolu grafický návrh obálky – podobně pokud zadáte tvorbu obálky knihy nám, postaráme se o její návrh a zpracování. K návrhu používáme profesionální grafický program od ADOBE Photoshop a Illustrator.*</li>
      <li>Zaslání hotové obálky ke kontrole a schválení (jedno kolo připomínek).</li>
      <li>Sazba eknihy a úprava zaslaných obrázků. – jakmile je text po korekturách a máme hotovou obálku pouštíme se do sazby eknihy. K sazbě používáme profesionální sazecí program od ADOBE InDesign.*</li>
      <li>Převod dat do ebooku – v převážné většině připravujeme eknihu ve formátech PDF, ePub a Mobi pro Kindle.</li>
      <li>Zaslání hotové eknihy ke kontrole a schválení (jedno kolo připomínek).</li>
      <li>Vložení eknihy do distribuce na Databook.cz</li>
      <li>Zápis na web našeho nakladatelství.</li>
    </ul>
    <p>*Přibližná doba pro každou z těchto fází vytvoření eknihy je jeden měsíc. Záleží to na rozsahu textu, složitosti zpracování obálky a náročnosti formátování eknihy. Roli hraje i počet dalších eknih, které máme v přípravě.</p>
    <h2>Kniha je hotová co děláme dále?</h2>
    <ul>
      <li>Knihu vložíme na všechna důležitá místa na internetu do eshopů jako jsou Palmknihy, eReading, Kosmas, ebux nebo slovenský Martinus.</li>
      <li>Vaším jménem komunikujeme s distributory.</li>
      <li>Vymýšlíme s nimi slevové a jiné marketingové akce (např. doporučení na umístění do jejich newsletteru).</li>
      <li>Evidujeme počet prodaných eknih.</li>
      <li>Zasíláme vám vždy po skončení pololetí přehledy prodejů.</li>
      <li>Dvakrát ročně vyplácíme provize z prodaných eknih.</li>
      <li>Pomáháme vám uspět s eknihou formou newsleteru s radami, jak knihu správně napsat, vyrobit a propagovat.</li>
    </ul>
    <h3>Jaké podklady budeme potřebovat?</h3>
    <p>níže najdete přehled podkladů, které jsou potřeba ke zpracování eknihy. Některé mohou být nerelevantní - již jste je poslal či je zrovna vaše ekniha neobsahuje:</p>
    <p></p>
    <p><strong>Co budeme potřebovat:</strong></p>
    <ul>
      <li>kromě podepsané smlouvy</li>
      <li>fakturační adresu, na kterou vystavíme daňový doklad za objednané služby</li>
      <li>text rukopisu v MS Word (nejlépe s koncovkou .doc a po korekturách)</li>
      <li>anotaci knihy - o čem kniha je</li>
      <li>obálku knihy  (pokud máte - nejlépe ve formátu jpg / png nebo PDF)</li>
      <li>obrázky do knihy (pokud jsou)</li>

<%= I18n.t('app.page.help.list_about_publishing.before_form_text').html_safe %>
<%= render 'pages/contact_form' %>