<%= render partial: 'layouts/breadcrumb' %>

<h1>Podklady pro vyrobu elektronické knihy</h1>
<h2>Rukopis</h2>
<p>Kompletní rukopis nám zašlete nejlépe ve formátu s koncovkou .doc nebo .docx (klasický soubor balíku Microsoft Office 2007). Rukopis by měl být po korekturách. Pokud je nemáte doporučujeme si korektury objednat. To samé platí o obálce knihy.
</p>
<h2>Anotace knihy</h2>
<p>Spolu s rukopisem pošlete anotaci knihy - to je krátký popis o čem vaše kniha pojednává.
</p>
<h2>Informace o autorovi</h2>
<ul>
  <li>Velmi oceníme zaslání informací o vás jako autorovi.</li>
<li>Je něco čím je váš styl charakteristický?</li>
<li>Jakého žánru píšete e-knihy?</li>
<li>Získali/a jste nějaké ocenění?</li>
<li>Máte osobní web? A pošlete nám odkaz?</li>
</ul>
<p></p>
<p>Tyto informace slouží výhradně k lepšímu katalogizování vašich knih a zároveň zlepšení viditelnosti na webu / internetu a tím i lepším prodejům.
</p>
<h2>Obálka e-knihy</h2>
<ul>
  <li>Pokud máte již vytvořenou obálku zašlete nám ji ve formátu s koncovkou .png nebo .jpg.</li>
<li>Velikost na šířku minimálně 500px.</li>
<li>Rozlišení 75 DPI či vyšší. Barevný režim nejlépe RGB.</li>
</ul>
<h2>Obrázky a ilustrace</h2>
<p>Pokud vaše kniha bude obsahovat obrázky nebo ilustrace zašlete je zvlášť ve stejné kvalitě jako obálku.
</p>
<h2>V jakých formátech mají být soubory?</h2>
<p>Pokud v knize mají být také obrázky, tabulky a nebo ilustrace. Je vhodné zaslat i PDF, které slouží jako jakási předloha pro umístění obrázků.
</p>

<%= I18n.t('app.page.help.list_about_publishing.before_form_text').html_safe %>
<%= render partial: 'pages/contact_form' %>
