<%= render 'layouts/breadcrumb' %>
<h1 class="blog-title" itemprop="name">Kde se naše elektronické knihy prodávají?</h1>
<div class="html_textcontent popis" itemprop="articleBody"><p>Máme nejširší síť distributorů e-knih v ČR a SR. Prodej eknih nakladatelství <strong>E-knihy hned</strong> zajišťuje několik hlavních celorepublikových distributorů. Především portál Databook.cz, Palmknihy.cz, Kosmas.cz, Euromedia a na Slovensku největší Martinus.sk. Od nich naše knihy berou k prodeji další e-shopy. Níže najdete seznam těch největších a nejznámějších:</p>
  <p> </p>
  <h2><a href="http://www.databook.cz/eknihy-hned" target="_blank" rel="noopener noreferrer">Databook.cz</a></h2>
  <p>Knihkupectví Databook.cz je elektronický obchod nakladatelství <strong>E-knihy hned</strong> a distribuce elektronických knih dalších nakladatelů. Je jedno z nejstarších. Působí na trhu od roku 2011 a prodává tisíce eknih.</p>
  <p><strong><a href="https://www.facebook.com/knihy.elektronicke/shop/?ref=page_internal" target="_blank" rel="noopener noreferrer">Obchod na Facebooku</a></strong> produkce nakladatelství E-knihy hned</p>
  <h2>Naši distributoři eknih:</h2>
  <p><a href="https://www.palmknihy.cz/nakladatel/130384" target="_blank" rel="noopener noreferrer">Palmknihy.cz</a> – nejstarší e-shop s eknihami v ČR, prodává také audioknihy</p>
  <p><a href="https://www.kosmas.cz/nakladatelstvi/876931/lukas-vik/" target="_blank" rel="noopener noreferrer">Kosmas.cz</a> – knihkupectví prodávající tištěné i elektronické knihy, včetně audioknih</p>
  <p><a href="https://www.ereading.cz/nakladatel/130384" target="_blank" rel="noopener noreferrer">Ereading.cz</a> – prodej elektronických knih, stejně jako Palmknihy patří pod Albatros media</p>
  <p><a href="https://www.ebux.cz/index.php?pg=1&amp;publisher=288&amp;ofs=1" target="_blank" rel="noopener noreferrer">eBux.cz</a> a sk – prodej elektronických knih, patří pod Euromedia</p>
  <p><a href="https://www.martinus.sk/knihy/vydavatelstvo/Lukas-Vik" target="_blank" rel="noopener noreferrer">Martinus.sk</a> a cz – největší knihkupectví a distribuce na Slovensku</p>
  <p> </p>
  <p><strong>Prodejci a elektronická knihkupectví napojená na distributory:</strong></p>
  <p><a href="https://www.alza.cz/media/elektronicke-knihy/18854341.htm?ltp=0#f&amp;cst=0&amp;pg=1&amp;prod=8859,6598&amp;sc=6541" target="_blank" rel="noopener noreferrer">Alza.cz</a></p>
  <p><a href="https://www.palmknihy.cz/nakladatel/130384" target="_blank" rel="noopener noreferrer">Neoluxor.cz</a></p>
  <p><a href="https://www.knihcentrum.cz/E-Knihy" target="_blank" rel="noopener noreferrer">Knihcentrum</a></p>
  <p><a href="https://www.eknihovna.cz/zbozi/e-knihy-hned/" target="_blank" rel="noopener noreferrer">Eknihovna.cz</a></p>
  <p><a href="https://www.martinus.cz/knihy/vydavatelstvo/Lukas-Vik" target="_blank" rel="noopener noreferrer">Arara.sk</a></p>
  <p><a href="http://www.oknihe.sk/" target="_blank" rel="noopener noreferrer">Oknihe.sk</a></p>
  <p><a href="https://www.ibux.sk/" target="_blank" rel="noopener noreferrer">Ibux.sk</a></p>
  <p><a href="https://www.ebux.cz/" target="_blank" rel="noopener noreferrer">Extrareader.cz</a> a sk</p>
  <p>A další knihkupectví...</p></div>

<%= I18n.t('app.page.help.list_about_publishing.before_form_text').html_safe %>
<%= render 'pages/contact_form' %>