<%= render partial: 'layouts/breadcrumb' %>
<h1>Jak stahovat elektronické knihy</h1>
<p>Chcete nakupovat e-knihy <strong>snadno a rychle?</strong> U nás to jde a <strong>bez transakčních poplatků</strong>. Získejte registrací <strong>stálý přístup</strong> k zakoupeným e-knihám s <strong>neomezeným počtem stažení bez poplatků</strong> a mnoho dalších výhod.</p>
<h1>Návod jak nakoupit a zaplatit elektronickou knihu</h1>
<p>Stačí se <strong><a href="/users/sign_in">přihlásit do svého účtu</a></strong>  nebo pokud tu jste poprvé, <strong><a href="/users/sign_up">založte si svůj účet</a></strong>, který má spoustu výhod.</p>
<h2>Vytvoření účtu / přihlášení do svého účtu</h2>
<p> Před nákupem e-knihy se <strong><a href="/users/sign_in">přihlašte do svého účtu</a></strong>. Přihlásit se do účtu můžete také až v <strong><a href="/kosik">nákupním košíku</a></strong>. Pokud účet ještě nemáte, vytvořte si účet. Po zaplacení v něm naleznete odkaz pro stažení zakoupené e-knihy.</p>
<h1>Nákup a stažení e-knihy</h1>
<p>Jednoduše si vyberte e-knihu(y), dejte ji do košíku. Po zaplacení si ji stáhnete ze svého účtu do čtečky, mobilu nebo tabletu ze sekce "Mé knihy" a můžete číst.</p>

<h2>E-knihy zasíláme zdarma elektronicky</h2>
<p>Elektronické knihy jsou ihned ke stažení po obdržení platby - blíže viz <strong><a href="/zpusoby-platby">Platební možnosti</a></strong>.</p>

<p>Registrovaní uživatelé je najdou po přihlášení do svého účtu v sekci “Mé knihy”. Počet stažení e-knihy je neomezený.
  Také lze e-knihu zaslat přímo na Váš Kindle.</p>

<h1>Kde najdete doklady a knihy?</h1>
<ul>
  <li>E-mailem vám zašleme potvrzení objednávky respektive zálohovou fakturu.</li>
  <li>Pokud není uhrazena, zasíláme i připomenutí s  výzvou k úhradě (je možné, že vás někdo vyrušil a vy jste na objednávku pak zapomněli). </li>
  <li>Pakliže máte knihovničku, najdete své e-knihy <strong><a href="/users/sign_in">po přihlášení v ní</a></strong>.</li>
  <li>Po zaplacení, vám posíláme doklad - fakturu (proto je dobré vyplnit správné fakturační údaje).</li>
</ul>
<br>
  <p>Pokud nakupujete e-knihy bez registrace (momentálně tuto variantu připravujeme) do e-mailu vám přijde odkaz ke stažení knihy (knihu jde stáhnout pouze třikrát z důvodu ochrany autorských práv).</p>

<%= render partial: 'crossroads_link_footer' %>
