<%= render 'layouts/breadcrumb' %>
<h1>Jak stahovat elektronické knihy</h1>
<p>Chcete nakupovat e-knihy <strong>snadno a rychle?</strong> U nás to jde a <strong>bez transakčních poplatků</strong>. Získejte registrací <strong>stálý přístup</strong> k zakoupeným e-knihám s <strong>neomezeným počtem stažení bez poplatků</strong> a mnoho dalších výhod.</p>
<h1>Návod jak nakoupit a zaplatit elektronickou knihu</h1>
<p>Stačí se přihlásit do svého účtu nebo pokud tu jste poprvé, vyplníte jeden jednoduchý formulář a založte si svůj účet, který má spoustu výhod.</p>
<h2>Vytvoření účtu / přihlášení do svého účtu</h2>
<p> Před nákupem e-knihy se přihlašte do svého účtu. Přihlásit se do účtu můžete také až v košíku. Pokud účet ještě nemáte, vytvořte si účet. Po zaplacení v něm naleznete odkaz pro stažení zakoupené e-knihy.</p>
<h2>Nákup a stažení e-knihy</h2>
<p>Jednoduše si vyberte e-knihu(y), dejte ji do košíku. Po zaplacení si ji stáhnete ze svého účtu do čtečky, mobilu nebo tabletu ze sekce "Mé knihy" a můžete číst.</p>

<h2>E-knihy zasíláme zdarma elektronicky</h2>
<p>Elektronické knihy jsou ihned ke stažení po obdržení platby - blíže viz Platební možnosti).</p>

<p>Registrovaní uživatelé je najdou po přihlášení do svého účtu v sekci “Mé knihy”. Počet stažení e-knihy je neomezený.
  Také lze e-knihu zaslat přímo na Váš Kindle.</p>

<p>E-knihy zasíláme elektronicky.
  E-mailem vám zašleme potvrzení objednávky. Pokud není uhrazena zasíláme i připomenutí s  výzvou k úhradě (je možné, že vás někdo vyrušil a vy jste na objednávku pak zapomněli). Po zaplacení, vám posíláme doklad - fakturu (proto je dobré vyplnit správné fakturační údaje).
  Pakliže máte knihovničku, najdete své e-knihy po přihlášení v ní.
  Pokud nakupujete e-knihy bez registrace (momentálně tuto variantu připravujeme) do e-mailu vám přijde odkaz ke stažení knihy (knihu jde stáhnout pouze třikrát z důvodu ochrany autorských práv).
</p>