<%= render partial: 'layouts/breadcrumb' %>
<h1>Jak číst e-knihy</h1>
<h2>Čtení e-knih</h2>
<p>Ke čtení elektronických knih ve čtečkách se nejlépe hodí formát ePub (případně MOBI pro čtečku Kindle). Naše knihy jsou standardně ke stažení ve formátu ePub (vhodný pro čtečky, tablety i počítač), MOBI (vhodný pro čtečky Kindle) a v univerzálním formátu PDF (ideální pro zobrazení na počítači) případně volte PDF optimalizované pro čtečky.</p>
<ul>
  <li><a href="#cteni-e-knih-na-ctece">Čtení e-knih na čtečce</a> </li>
  <li><a href="#cteni-e-knih-v-mobilu-ipadu">Čtení e-knih v mobilu a ipadu</a> </li>
  <li><a href="#cteni-e-knih-na-pocitaci-tabletu">Čtení e-knih v počítači a tabletu</a></li>
</ul>
<p><a href="#cteni-e-knih-v-mobilu-ipadu"> </a></p>
<h1 id="cteni-e-knih-na-ctece">Jak číst e-knihy bez tvrdého DRM ve čtečce</h1>
<ul>
  <li>E-knihu nakoupíte přes internet pomocí počítače na portálu databook.cz (nezapomeňte se přihlásit nebo si vytvořte účet pokud jej ještě nemáte).</li>
  <li>Nakoupené knihy najdete ve Vašem účtu v sekci „Mé knihy“, kam se po zaplacení automaticky uloží.</li>
  <li>Podle zařízení, které chcete použít, <strong>zvolte/klikněte na odkaz formátu</strong>. Pro čtečku volíte ePub nebo MOBI, pokud vlastníte Kindle. Knihu tak stáhnete do počítače.</li>
  <li><strong>Soubor uložíte do počítače</strong>, do stažených souborů nebo na plochu či tak abyste jej našli.</li>
  <li>Propojíte čtečku USB kabelem k vašemu počítači. Čtečka se ve vašem počítači zobrazí jako disk (s názvem adresáře jako EBOOKS, Digital Editions nebo Documents atp. Do tohoto adresáře soubor/y zkopírujete.</li>
  <li>Teď byste e-knihu měli ve čtečce již najít.</li>
</ul>
<h2>Jak číst e-knihy ve čtečce Amazon Kindle</h2>
<p>Na této čtečce přečtete pouze formát Kindle (MOBI) a trochu nouzově PDF. Dalším problémem je, že na této čtečce nepřečtete knihy chráněné Adobe DRM (tvrdé DRM).</p>
<ul>
  <li>E-knihu nakoupíte přes internet pomocí počítače na portálu Databook.cz (nezapomeňte se přihlásit nebo si vytvořte účet pokud jej ještě nemáte).</li>
  <li>Nakoupené knihy najdete ve Vašem účtu v sekci „Mé knihy“, kam se po zaplacení automaticky uloží. Podle zařízení, které chcete použít, zvolte daný formát. Pro čtečku volíte MOBI.</li>
  <li>Soubor uložíte do počítače, do stažených souborů nebo na plochu či tak abyste jej našli.</li>
  <li>Propojíte čtečku kabelem k vašemu počítači. Čtečka se ve vašem počítači zobrazí jako disk. Na něm najdete adresář s názvem Documents. Do tohoto adresáře soubor/y zkopírujete.</li>
  <li>Teď byste e-knihu měli ve čtečce již najít.</li>
</ul>
<br>
<p>Pokud, Vámi vybraná e-kniha není ve formátu ePUB (respektive MOBI v případě Kindle), lze použít formát PDF pro čtečky. V něm jsou ořezané okraje, aby se e-kniha četla co nejlépe.</p>

<h1 id="cteni-e-knih-na-pocitaci-tabletu">Jak číst e-knihy na PC, počítači, notebooku nebo tabletu</h1>
<p>Pro čtení e-knih na počítači je ideální formát PDF. Pokud chcete využít formát ePub (je od firmy Adobe) postupujte dle následujících kroků:</p>
<ul>
  <li>Vytvořte si Adobe ID. Adobe ID si vytvoříte na této adrese: https://www.adobe.com/cfusion/membership/index.cfm?loc=en_us&amp;nl=1</li>
  <li>Nainstalujte si Adobe Digital Editions (http://www.adobe.com/products/digitaleditions/) (instalace trvá měně než minutu).</li>
  <li>Zakupte e-knihy, stáhněte si je ze svého účtu na portálu Databook.cz (sekce „Mé knihy“) a nahrajte si je do čtečky přes USB kabel.</li>
</ul>
<h3>Další programy pro čtení elektronických knih, které lze využít jsou:</h3>
  <p>Zde najdete tři nejlepší aplikace pro čtení elektronických knih. Skvělý program na čtení e-knih je <strong>Calibre ebook</strong>: http://calibre-ebook.com/ (tento program zvládá všechny standardní formáty elektronických knih - MOBI, ePub, PDF aj.)&nbsp;<br>Pokud chcete číst e-knihy jen v MOBI na PC můžete použít program <strong>Mobipocket ebook Reader</strong>: http://www.mobipocket.com/en/downloadsoft/productdetailsreader.asp<br>Mezi velmi dobré programy patří také <strong>EPUB Readear</strong>: http://www.epubread.com/&nbsp;Tento program umožňuje čtení elektronických knih v EPUB formátu přímo v prohlížeči Firefox. Prohlížet můžete e-knihy přímo z Internetu nebo uložené na PC.</p>
<h1 id="cteni-e-knih-v-mobilu-ipadu">Jak číst e-knihy na mobilním (chytrém) telefonu</h1>
<p>Pro čtení e-knih na mobilním telefonu je nejvhodnější využit aplikaci<strong> Bluefire Reader</strong>, kterou si můžete zdarma stáhnout na AppStore zde: http://itunes.apple.com/us/app/bluefire-reader/id394275498?mt=8 <strong>Postup instalace a nastavení aplikace Bluefire Reader je uvedeno níže:</strong></p>
<h3>Stručný návod pro telefony iphone a tablet&nbsp;ipad</h3>
<ul>
  <li>Nainstalujte Bluefire Reader na Váš iPad či iPhopne Zadejte informace k Vašemu Adobe ID.</li>
  <li>Pokud Adobe ID nemáte, můžete si ho vytvořit  zde (vytvoření účtu trvá méně než minutu).</li>
  <li>Nakupte e-knihy buď přes PC a nebo přímo na Vašem iPad či iPhone.</li>
  <li>Otevřete v iPhone či iPad Vaši Knihovnu na portálu Databook.cz (kliknutím na "Mé knihy" v pravém horním rohu po <strong><a href="/users/sign_in">přihlášení na Databook.cz</a></strong>) a kliknutím na odkaz na e-knihu se Vám automaticky stáhne a otevře v Bluefire Reader.</li>
</ul>
<h3>Stručný návod pro telefony a zařízení se systémem Android</h3>
<p>Pro čtení e-knih na mobilních telefonech s operačním systémem Android (pro verze 2.2 a vyšší) spolehlivě funguje aplikace&nbsp;<strong>Bluefire Reader</strong>, který zvládá bez problémů zobrazení i e-knih zabezpečených pomocí Adobe DRM.</p>
<ul>
  <li>Stáhněte si na Váš telefon s Androidem aplikaci Bluefire Reader</li>
  <li>Vytvořte si své Adobe ID, pokud jej ještě nemáte. Vytvoření účtu trvá méně než minutu.</li>
  <li>Zadejte vaše Adobe ID do nastavení čtečky Bluefire Reader (položka Info)</li>
  <li>Přihlašte se na portál Databook.cz a zakupte e-knihu.</li>
  <li>Na telefonu na portálu Databook.cz klikněte na "Mé knihy" v pravém horním rohu.</li>
  <li>Klikněte na odkaz pro stažení eknihy. Ekniha se Vám automaticky stáhne a otevře ve čtečce Bluefire Reader.</li>
</ul>
<br>
<p>Pokud se odkaz v Bluefire Reader neotevře, přidržte odkaz déle (zhruba 2 vteřiny) a poté zvolte "Uložit odkaz". Poté stačí na uložený soubor kliknout a ten se již v Bluefire Reader zobrazí a ekniha se stáhne.</p>
<%= render partial: 'crossroads_link_footer' %>
