<%= render partial: 'layouts/breadcrumb' %>
<h1>Newsletter</h1>
<h2>Akční ceny a slevy do e-mailu</h2>
<p>Chcete dostávat jednou měsíčně aktuální informace ze světa elektronických knih?</p>
<ul>
  <li>
    Přihlášením k newsletteru získáváte možnost stahovat <a href="/e-knihy-zdarma">e-knihy zdarma</a>.
  </li>
  <li>
    Aktuální informace o akčních cenách a slevách.
  </li>
  <li>
    Novinky a informace z e-knižního světa.
  </li>
  <li>
    Rady jak napsat, vydat a úspěšně prodávat knihu.
  </li>
</ul>
<h3>Ochrana soukromí</h3>
<p>Váš email <strong>zachováme v tajnosti</strong> a <em>nikomu jej neposkytneme</em>. Odběr novinek můžete kdykoli ukončit.</p>
