<%= render 'layouts/breadcrumb' %>
<h1>Ochrana osobních údajů</h1>
<p>
  Internetové knihkupectví Databook.cz důsledně ctí vaše právo na soukromí. Snažili jsme se, aby se vyplňovaly pouze nejnutnější údaje. Ty potřebujeme k tomu, abychom vám měli kam doručit zboží, mohli vystavit fakturu a mohli vám dát vědět o stavu zásilky.
</p>
<h2>  Prohlášení o ochraně osobních údajů</h2>

<p>  Jak nám, jako poskytovateli a provozovateli e-shopu Databook.cz, ukládá zákon, jsme registrovanými správci osobních údajů u ÚOOÚ (registrační číslo: 00048536). Osobní údaje uchováváme v souladu se zákonem č. 101/2000 Sb. O ochraně osobních údajů. V žádném případě neposkytujeme tyto údaje třetí straně.
</p>
<h2>  Jaké údaje shromažďujeme?</h2>

 <p> Pro uzavření nákupu od vás potřebujeme znát jméno (případně jméno firmy, IČ a DIČ), adresu (fakturační a případně dodací), telefonní a mailový kontakt.
</p>
 <h2> K čemu údaje slouží?</h2>

 <p> Osobní údaje slouží v první řadě k vystavení faktury a vzájemné komunikaci. Výše zmíněné informace získáváme s vaším souhlasem při vytvoření první objednávky.
</p>
<p> Pokud vyjádříte souhlas, můžeme osobní údaje využít také pro marketingové účely – tj. např. zasílání newsletterů. Tento souhlas je možné kdykoliv odvolat.
</p>
<h2>Odvolání souhlasu</h2>

 <p> V případě, že už nechcete, u nás dále nakupovat, nebo máte jiné důvody, můžete kdykoliv souhlas se zpracováním osobních údajů odvolat. V takovém případě nám prosím zašlete e-mail.
</p>

<%= render 'crossroads_link_footer' %>