<%= render partial: 'layouts/breadcrumb' %>
<h1>Kolik zaplatím za výrobu elektronické knihy?</h1>
<p>Cena za tvorbu elektronické knihy závisí na jejím rozsahu a složitosti sazby, počtu obrázků, tabulek nebo ilustrací. Cena začíná na 3990 Kč a málo kdy překročí 5000 Kč.
</p>
<h2>Musím platit i za další služby?</h2>
<p>Ne nemusíte. Nabízíme i další služby spojené s vydáním elektronické knihy jako: přidělení ISBN, návrh obálky, korektury nebo tvorbu webových stránek pro podporu prodeje e-knihy a další propagaci... Pokud si tyto doplňkové služby neobjednáte nebudou také účtovány.
</p>

<%= I18n.t('app.page.help.list_about_publishing.before_form_text').html_safe %>
<%= render partial: 'pages/contact_form' %>
