<%= render partial: 'layouts/breadcrumb' %>
<h1>Lze elektronickou knihu vydat i jako tištěnou?</h1>

<p>Ano lze. Spolupracujeme s nakladateli, kteří rádi s vydáním tištěné knihy pomohou. Stačí se nám jen ozvat.
</p>
<%= I18n.t('app.page.help.list_about_publishing.before_form_text').html_safe %>
<%= render partial: 'pages/contact_form' %>
