<%= render 'layouts/breadcrumb' %>
<h1>Mohu elektronickou knihu vydat vlastním nákladem?</h1>
<p>Ano můžete. My e-knihu jen vytvoříme. Pokud chcete e-knihy prodávat v knižní distribuci, musíte si zařídit živnostenský list. Pak následně oslovit všechny prodejce elektronických knih a uzavřít s nimi licenční smlouvy. Musíte si sami také zařídit přidělení ISBN u Národní knihovny. Také si musíte sami vést účetnictví.
</p>
  <%= I18n.t('app.page.help.list_about_publishing.before_form_text').html_safe %>
<%= render 'pages/contact_form' %>