<%= render 'layouts/breadcrumb' %>
<h1><%= I18n.t('app.page.services.h1_services_headline') %></h1>

<div class="services center">

  <div class="service">
    <img src="gfx/ico-vydani.svg">
    <h2>Vydání e-knihy</h2>
    <p>Když jste autor a máte originální rukopis k vydání.</p>
  </div>
  <a href="#"><div class="service">
    <img src="gfx/ico-ruby.svg">
    <h2>Programování</h2>
    <p>Umíme naprogramovat i jiné věci než Databook. Podívejte se.</p>
  </div></a>
  <a href="#"><div class="service">
    <img src="gfx/ico-pridat.svg">
    <h2>Přidat e-knihu</h2>
    <p>Když jste autor a chcete přidat svou e-knihu.</p>
  </div></a>

  <a href="#"><div class="service">
    <img src="gfx/ico-propagace.svg">
    <h2>Propagace e-knih</h2>
    <p>Když máte knihu a chcete ji úspěšně prodávat.</p>
  </div></a>


  <div class="cleaner"></div>

</div>