<%= render partial: 'layouts/breadcrumb' %>
<h1>Jak úspěšně prodávat svoji knihu?</h1>
<h2>Co musím udělat, aby byla moje kniha v e-shopu?</h2>
<p>  Pokud elektronickou knihu vydáte přes naše nakladatelství, automaticky se objeví v nabídce elektronických knih na Databook.cz a ostatních velkých distribucích po celé ČR a SR.
  Pokud si knihu vydáváte ve vlastním nákladu, uzavřeme licenční smlouvu na zprostředkování prodeje přes Databook.cz. S ostatními prodejci se musíte domluvit sami.
</p>
<h2>Co musím udělat, aby se moje kniha dobře prodávala?</h2>
<p> Především o ní mluvte. A to všude. Na internetu, mezi přáteli, známými, v práci, pořádejte veřejná čtení, účastněte se různých literárních akcí a soutěží. Pro úspěch knihy můžete udělat opravdu mnoho. Nabízíme také propagaci vás a vaší tvorby
</p>
<%= I18n.t('app.page.help.list_about_publishing.before_form_text').html_safe %>
<%= render partial: 'pages/contact_form' %>
