<%= render 'layouts/breadcrumb' %>
<h1>Kde je má zaplacená e-kniha?</h1>
<p>E-knihy, které jste zaplatil(a) a máte knihovničku, naleznete ve Vašem profilu v sekci "Mé knihy", kde stačí kliknout na odkaz v pravém sloupci tabulky a e-kniha se Vám stáhne do počítače.
Více dopodrobna ve vztahu jak číst e-knihy na čtečkách a jiných zařízeních je to vysvětleno v sekci Jak číst elektronické knihy na stránce této nápovědy.
</p>
<p>Pokud jste nakoupili e-knihy bez registrace do e-mailu vám měl přijít odkaz ke stažení knihy.
</p>
<p>Pokud by bylo potřeba ještě něco doplnit, nebo jste měli dotazy, napište nebo zavolejte a co nejrychleji vše vyřešíme.
</p>