<%= render 'layouts/breadcrumb' %>
<h1>Kde je moje objednávka?</h1>
<p>Ve svém e-mailu, který jste při nákupu zadali najdete potvrzení objednávky. Po zaplacení objednávky a provedení převodu peněz na náš účet si můžete e-knihy stáhnout ze své knihovničky.
  Informaci o zaplacení objednávky a všechny další potřebné informace vám také přijdou na váš e-mail.</p>
<p>Pokud si i přes to nevíte rady, můžete využít kontaktní formulář. Napište na info@databook.cz či volejte 736 212 836 (Lukáš Vik). Vše vyřešíme k vaší spokojenosti.</p>