<%= render 'layouts/breadcrumb' %>
<h1>Kde je má zaplacená e-kniha?</h1>
<p>E-knihy, které jste zaplatili, a máte knihovničku, naleznete ve vaší knihovničce <strong><a href="/users/sign_in">po přihlášení</a></strong>  v sekci "Mé knihy", kde stačí kliknout na odkaz v pravém sloupci tabulky a e-kniha se Vám stáhne do počítače.</p>
<p>Pokud nakupujete e-knihy bez registrace (momentálně tuto variantu připravujeme) do e-mailu vám přijde odkaz ke stažení knihy (knihu jde stáhnout pouze třikrát z důvodu ochrany autorských práv).</p>
<p>Pokud si i přesto nevíte rady, můžete využít <strong><a href="/kontakt">kontaktní formulář</a></strong>. Vše vyřešíme k vaší spokojenosti.</p>
<%= render 'crossroads_link_footer' %>