<%= render partial: 'layouts/breadcrumb' %>
<h1>Kde je má objednávka?</h1>
<ul>
  <li>E-mailem vám zašleme potvrzení objednávky respektive zálohovou fakturu.</li>
  <li>Podívejte se do svého mailu, zkontrolujte pro jistotu i spam nebo jiné záložky vašeho mailu.</li>
  <li>Pokud není uhrazena, zasíláme i připomenutí s  výzvou k úhradě (je možné, že vás někdo vyrušil a vy jste na objednávku pak zapomněli). </li>
  <li>Pakliže máte knihovničku, najdete své e-knihy <strong><a href="/users/sign_in">po přihlášení</a></strong> v ní.</li>
  <li>Po zaplacení, vám posíláme doklad - fakturu (proto je dobré vyplnit správné fakturační údaje).</li>
</ul>
<br>
<p>Pokud nakupujete e-knihy bez registrace (momentálně tuto variantu připravujeme) do e-mailu vám přijde odkaz ke stažení knihy (knihu jde stáhnout pouze třikrát z důvodu ochrany autorských práv).</p>
<p>Pokud si i přesto nevíte rady, můžete využít <strong><a href="/kontakt">kontaktní formulář</a></strong>. Vše vyřešíme k vaší spokojenosti.</p>

<%= render partial: 'crossroads_link_footer' %>
