nav#account-steps
  =link_to I18n.t('app.nav.account.my_ebooks'), library_users_path, class: class_if_at(library_users_path)
  =link_to I18n.t('app.nav.account.order_history'), history_users_path, class: class_if_at(history_users_path)
  //= content_tag("a", "Mé recenze", class: "tab-link", data: "my-ebooks")
  =link_to I18n.t('app.nav.account.wishlist'), wishlist_users_path, class: class_if_at(wishlist_users_path)
  =link_to I18n.t('app.nav.account.settings'), edit_users_path, class: class_if_at(edit_users_path)
  =link_to I18n.t('app.nav.account.logout'), destroy_user_session_path, method: :delete
  .cleaner