// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "mixins";

body {
  background: #fff; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#f5f5f5, #fff 250px); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#f5f5f5, #fff 250px); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f5f5f5, #fff 250px); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#f5f5f5, #fff 250px);
  background-repeat: no-repeat;

  margin: 0;
  font: 100%/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;

  >header {
    >nav.top {
      background-color: #8d0109;
      padding: 8px 5px;
      font-size: 90%;
      .help-menu-1, .help-menu-2 {
        @include line_between_links(black);
        a {
          color: #fff;
          text-decoration: none;
        }
      }
      .help-menu-1 {
        float: left;
        margin-left: 10px;
      }
      .help-menu-2 {
        float: right;
        margin-right: 10px;
        span {
          color: #ababab;
          margin-right: 10px;
        }
      }
    }
    > .header.top {
      height: 105px;
      > .logo {
        margin-top: 30px;
        margin-left: 10px;
        height: 55px;
        width: 248px;
        @include absolute_3_block();
        a {
          display: block;
          margin-top: -9000px;
          span {
            background: image_url("logo-databook-cz.svg") no-repeat center top;
            top: 5px;
            left: 0;
            height: 40px;
            width: 240px;
            @include absolute_3_block();
          }
        }
      }
      //>.tel-fright {
      //  margin-left: 270px;
      //  float: left;
      //  height: 30px;
      //  margin-top: 5px;
      //  line-height: 30px;
      //  font-size: 75%;
      //  @include absolute_3_block();
      //}
      > form {
        margin-top: 28px;
        margin-left: 270px;
        max-width: 510px;
        height: 35px;
        float: left;
        >.text {
          width: 450px;
          text-indent: 10px;
          color: #4c4c4c;
          height: 39px;
          line-height: 27px;
          border: 3px solid #dadadb;
          border-right: none;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
        }
        >input {
          height: 39px;
          display: block;
          border: none;
          float: left;
          margin-left: -5px;
          padding: 0;
          font-style: italic;
          font-size: 90%;
          border-radius: 0 5px 5px 0;
        }
        >.button-search {
          width: 58px;
          font-weight: bold;
          color: #fff;
          background-color: #8d0109;
          cursor: pointer;
          &:hover {
            background-color: #8d0109!important;
          }
        }
      }
      >.minicart {
        width: 145px;
        margin-top: 5px;
        float: right;
        margin-right: 10px;
        a {
          text-decoration: none;
          font-size: 80%;
        }
        >.currency {
          text-align: right;
        }
        >.cart {
          float: right;
          height: 45px;
          margin-top: 5px;
          position: relative;
          a {
            display: block;
            height: 45px;
            background: image_url('cart-m-databook.png') no-repeat left top;
            padding: 5px 0 0 45px;
            text-decoration: none;
          }
        }
      }
    }

  }

  >nav {
    &.main {
      height: 45px;
      background: #ac010b;
      position: relative;
      padding: 0;
      border-bottom: 3px solid #6a0000;
      max-width: 1200px;
      margin: 0 auto;
      >ul {
        >li {
          font-size: 95%;
          font-weight: bold;
          margin: 0;
          padding: 0;
          display: block;
          background-color: #8d0109;
          float: left;
          height: 45px;
          text-align: center;
          background: linear-gradient(left, #ad010b, #8d0109);
          background-image: -webkit-gradient(left, #ad010b, #8d0109);
          background-image: -webkit-linear-gradient(left, #ad010b, #8d0109);
          background-image: -moz-linear-gradient(left, #ad010b, #8d0109);
          background-image: -o-linear-gradient(left, #ad010b, #8d0109);
          background-image: linear-gradient(left, #ad010b, #8d0109);
          text-transform: uppercase;
          >a {
            color: white;
            line-height: 45px;
            display: block;
            float: left;
            height: 45px;
            text-decoration: none;
            padding: 0 12px;
            background: image_url('svislitko.png') no-repeat right center;
            &:hover {
              background-color: #6a0000;
              color: white;
            }
          }
        }
      }
    }
  }

  >main {
    max-width: 1200px;
    margin: 0 auto;
    //padding: 0 10px;
    >nav {
      &#breadcrumb {
        padding: 8px 0 0 10px;
        color: #777;
        font-size: 70%;
        a {
          color: #ababab;
        }
      }
    }
    >aside {
      width: 223px;
      position: absolute;
      margin-top: 10px;
      nav.categories {
        padding: 0;
        border-bottom: 1px solid grey;
        border-top: 1px solid grey;
        ul {
          list-style-type: none;
          background: #5e5e5e;
          li {
            margin: 0;
            a {
              color: #fff;
              &:hover {
                background: white!important;
                color: black!important;
              }
            }
          }
        }
        >ul {
          >li {
            text-decoration: none;
            a {
              font-weight: normal;
              color: white;
              text-decoration: none;
              padding: 7px 0 7px 10px;
              font-size: 110%;
              background: #919191;
              border-bottom: 1px solid grey;
              margin: 0;
              line-height: 20px;
              display: block;
              &.active {
                background: #5e5e5e;
                color: white;
                border-bottom: 1px solid #777777;
              }
            }
          }
          ul {
            li a {
              border-bottom: 1px solid gray;
              padding: 5px 0 5px 20px;
              display: block;
              font-size: 90%;
              text-decoration: none;
              &.active {
                font-weight: bold;
                color: white;
                background: #333;
              }
              &.new {
                &:before {
                  content: "*";
                }
                &:after {
                  content: " [new]";
                }
              }
            }
            ul {
              li {
                a {
                  padding: 5px 0 5px 30px;
                }
              }
            }
          }
        }
        .question_mark {
            background: image_url('DA-otaznik.png') no-repeat 10px;
            background-size: 13px;

            font-size: 80%;
            padding: 10px 16px 10px 28px;
            border-bottom: solid 1px silver;
            display: block;
            text-decoration: none;
            color: #777;
        }
      }
      >section {
        margin: 20px 0 0;
        padding: 5px;
        >strong {
          display: block;
          &:before {
            content: "» ";
          }
        }
        &#book_news_day {
          > strong {
            padding: 0 0 10px 0;
          }
          >a {
            background: #fff;
            border: 1px solid #b4bec5;
            width: 45px;
            text-align: center;
            float: left;
            font-size: 11px;
            color: #000;
            text-decoration: none;
            padding: 3px 0;
            margin: 0 4px 4px 0;
            &:hover {
              background: #F1F1F1;
              border: 1px solid #939FA7 !important;
            }
          }
        }
        &#best_sellers, &#best_sellings_book {
          >span {
            font-weight: bold;
          }
          >ol {
            margin: 5px;
            padding-left: 0;
            margin-left: -10px;
            >li {
              >a {
                display: block;
                width: 100%;
                font-size: 80%;
                letter-spacing: 0.3px;
                font-style: normal;
                font-weight: 100;
              }
            }
          }
          >a {
            font-weight: bold;
            font-size: 80%;
          }
        }
        &#news {
          ul {
            margin-left: 0;
            padding: 0;
            list-style-type: none;
            li {
              span {
                margin-left: -25px;
                font-size: 70%;
                color: silver;
                font-weight: bold;
              }
              a {
                margin-left: -25px;
                display: block;
                font-size: 80%;
                padding-bottom: 10px;
              }
            }
          }
          >a {
            font-weight: bold;
            font-size: 80%;
          }
        }
      }
    }
    >section {
      margin-top: 10px;
      max-width: 100%;
      float: left;
      margin-left: 230px;
      p {
        font-size: 100%;
        color: #6d767e;
      }
      h1 + p {
        line-height: 1.5;
        margin: 0 10px;
      }
      &#inbasket,
      &#wishlist {
        >table {
          font-size: 90%;
          border-collapse: collapse;
          border: 1px solid #e8e8e8;
          width: 100%;
          margin-bottom: 10px;
          tr {
            border-bottom: 1px solid #e8e8e8;
            td {
              vertical-align: middle;
              padding: 5px 10px;
              &:first-of-type {
                padding: 10px;
              }
              a {
                color: #015aa7;
                font-weight: bold;
                text-decoration: none;
              }
            }
            th, td {
              &:nth-of-type(3) {
                text-align: right;
              }
            }
          }
          th {
            background: none;
          }
          thead {
            tr {
              height: 30px;
              line-height: 30px;
              background-color: #f9f9f9;
              //border-bottom: 1px solid #e8e8e8;
              th {
                text-align: left;
                padding: 3px 10px;
                line-height: 18px;
                color: grey;
                font-weight: normal;
              }
            }
          }
        }
      }
      section {
        >h2 {
          >span{
            margin-left: 8px;
          }
        }
        &.ebook_boxes {
          @include product_boxes(33%);
        }
        &.category_tips {

          >ul {
            padding: 10px;
            font-size: 80%;
            float: left;

            background: #f9f9f9;
            border: 2px solid #e8e8e8;
            border-bottom: 3px solid #e8e8e8;
            max-width: 1200px;
            >li {
              list-style-type: none;
              width: 20%;
              margin-right: 4%;
              margin-left: 0;
              float: left;
              line-height: 20px;
              margin-bottom: 5px;
              >a {
                display: block;
                background: image_url('hp-tips-arrow.png') no-repeat left top 2px;
                width: 100%;
                padding: 2px 0 0 20px;
              }
            }
          }
        }
        &.ebook-boxes.bestsellers {

        }
        &.widget-hp {
          border: 1px solid #e4e4e4;
          >.zalozky {
            width: 100%;
            background-color: #e9e9e9;
            height: 45px;
            font-size: 90%;
            padding: 0;
            margin: 0;
          }
          ul {
            padding: 0;
            list-style-type: none;
            li {
              float: left;
              display: inline;
              margin: 14px 5px 0 5px;
              padding: 7px 10px;
              white-space: nowrap;
              color: #085ca0;
              text-decoration: none;
              &.active {
                position: relative;
                top: 13px;
                margin-top: 0;
                padding-bottom: 5px;
                border: 1px solid #e4e4e4;
                border-bottom: 0;
                background: linear-gradient(top, #f3f3f3, #ffffff);
                background-image: -webkit-gradient(top, #f3f3f3, #ffffff);
                /* Saf4+, Chrome */
                background-image: -webkit-linear-gradient(top, #f3f3f3, #ffffff);
                /*  Chrome 10+, Saf5.1+, iOS 5+*/
                background-image: -moz-linear-gradient(top, #f3f3f3, #ffffff);
                /* FF3.6+ */
                background-image: -o-linear-gradient(top, #f3f3f3, #ffffff);
                /*  Opera 11.10+ */
                background-image: linear-gradient(top, #f3f3f3, #ffffff);
                /* W3C     */
                background-color: white;
                a {
                  color: black;
                  font-weight: bold;
                  cursor: default;
                  &:hover {
                    color: black;
                    text-decoration: none;
                  }
                }
              }
              a {
                color: #085ca0;
                text-decoration: none;
                &:hover {
                  text-decoration: underline;
                  color: #085ca0;
                }
              }
            }
          }
          .obsah_widget-hp {
            width: 50%;
            float: left;
            padding: 10px 0 0;
            h3 {
              line-height: 17px;
            }
            img {
              float: left;
              padding: 0 15px;
            }
            .popis_widget-hp {
              overflow: hidden;
              padding: 0;
              margin: 0 10px 10px 0;
              h3 {
                font-size: 80%;
                padding: 0;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }

  .promo {
    max-width: 1200px;
    margin: 20px 0;
    border: 2px solid #e8e8e8;
    border-bottom: 3px solid #e8e8e8;
    background: #f9f9f9;
    padding: 20px;
  }
  .promo ul {
    margin-bottom:  0;
  }
  .promo img {
    margin: 0 0 15px 0;
  }
  .promo p {
    margin: 0;
  }

  .allview {
    float: right;
    text-align: right;
    background: #0049a8;
    padding:5px 10px;
    border-radius: 15px;
    font-size: 12px;
    color:#fff;
    text-decoration: none;
    cursor: pointer;
    display: block;
    font-weight: bold;
    &:hover {
      background:#1a9816;
    }
    >a {
      color: #fff;
      text-decoration: none;
      &:hover {
        color:#fff;
      }
    }
  }

  .atribut-action {
    height: 78px;
    width: 78px;
    z-index: 1;
    position: absolute;
  }
  p.atribut-action-mini  {
    padding:5px 10px 7px;
    background-color: orange;
    font-size: 16px;
    font-family: "Arial Black";
    color:#000;
    position:absolute;
  }
  p.atribut-action-best {
    padding:5px;
    background-color: rgb(199,21,33);
    font-size: 13px;
    font-weight: bold;
    color:#fff;
    position:absolute;
    margin-top:32px;
  }
  p.atribut-action-new {
    padding:5px;
    background-color: rgb(0,128,0);
    font-size:13px;
    font-weight: bold;
    color:#fff;
    position:absolute;
    margin-top:58px;
  }
  .stock p.right {
    padding:10px 5px 10px 0;
  }

  >footer {
    /*margin-top:20px;*/
    ul {
      width: 33%;
      float: left;
      margin: 0 auto;
      li {
        margin-left: 10px;
        font-size: 80%;
        list-style-type: none;
        line-height: 22px;
        b {
          font-size: 14px;
          color: grey;
          padding: 0 0 5px;
          display: block;
          margin: 0 0 6px;
        }
        strong {
          font-size: 16px;
          color: #d42c05;
          padding: 10px 0 5px;
          display: block;
          margin: 0 10px 12px 0;
          border-bottom: 1px solid #fff;
        }
        a, a:link, a:visited {
          cursor: pointer;
          text-decoration: none;
          display: block;
          /*background: image_url('small-footer-circle-3.png') no-repeat left center;*/
          color: #777;
          line-height: 22px;
          &:hover {
            color: #000;
          }
        }
        &.text {
          color: white;
          line-height: 18px;
        }
        &.login {
          text-align: center;
          margin: 20px 0 5px 0;
          display: inline-block;
          a {
            padding: 10px 20px;
            text-decoration: none;
            border: 2px solid #dededf;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            color: #fff;
            font-weight: bold;
            background: #d42c05;
            line-height: 12px;
            margin-right: 10px;
            margin-left: 10px;
            &:hover {
              text-decoration: underline;
              color: #fff;
            }
          }
        }
        &.usp {
          color: #fff;
          font-size: 90%;
          line-height: 1.4;
          height: 80px;
          margin-left: 0;
          span {
            color: #fff;
            font-size: 13px;
            line-height: 1.4;
            display: block;
            padding-left: 95px;
          }
          img {
            float: left;
          }
        }
      }
    }
    >section#newsletter {
      background: #8d0109;
      padding: 20px 0;
      clear: both;
      margin-top: 20px;
      .content {
        padding: 7px 10px;
        max-width: 1200px;
        text-align: center;
        >h3 {
          display: inline-block;
          font-size: 14px;
          font-weight: normal;
          padding: 0;
          margin: 0 30px 10px 0;
          color: #fff;
        }
        strong {
          color: #fff;
        }
        >form {
          display: inline-block;
          vertical-align: middle;
          margin-right: 20px;
          margin-top: 0;
          border: 2px solid #dadadb;
          border-radius: 3px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          >input[type=email] {
            color: #4c4c4c;
            font-style: italic;
            border: 0;
            width: 160px;
            line-height: 32px;
            height: 32px;
            padding: 0;
            margin: 0;
            text-indent: 10px;
          }
          >input[type=submit] {
            background: #d42c05;
            border: 0;
            color: #fdfdfd;
            font-size: 13px;
            font-weight: bold;
            margin: 0;
            height: 32px;
            &:hover {
              background: -webkit-linear-gradient(#d42c05, #d42c05)!important;
              background: linear-gradient(#d42c05, #d42c05)!important;
            }
          }
        }
      }
    }
    >section#topfooter {
      margin: 0 auto;
      background-color: #f9f9f9;
      text-align: center;
      padding: 20px 10px;
      border-bottom: 1px solid #e2e2e2;
      border-top: 1px solid #e2e2e2;
      >.masterin {
        max-width:1200px;
        margin: 0 auto;
        .calltoaction {
          margin: 0 auto;
          max-width: 1200px;
        }
      }
    }
    >section#footer {
      margin: 0 auto;
      background-color: #f1f1f1;
      position: relative;
      padding: 0;
      border: 0;
      font-size: inherit;
      >.footercontent {
        margin: 0 auto;
        max-width: 980px;
        padding: 20px 0;
        p {
          margin: 0 10px 10px 10px;
          font-size: 16px;
        }
      }
      >.banner-box {
        background-color: #fff;
        border-top: 1px solid #e2e2e2;
        padding: 0 0 10px 0;
        text-align: center;
        .payment-methods {
          margin: 0 auto;
          padding: 20px 0 10px;
        }
        .banner {
          margin: 0 auto;
          max-width: 970px;
          padding: 10px;
          a {
            color: #2a6ebb;
            padding: 0;
            &:hover {
              color: #d42c05;;
              padding: 0;
            }
          }
          span {
            color: #6C6C6C;
          }
        }
      }
    }
  }
  section#proc {
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 10px;
    img:hover { opacity: 0.7;
    }
  }
}

.container h2 {
  text-align: center;
  margin-top: 25px;
}
.person {
  border-top: 1px solid #eaeaea;
  padding: 30px 20px 10px 20px;
  min-height: 130px;
  img {
     float: left;
     padding: 0 30px 0;
   }
  h3 {
    padding: 0;
    margin: 0;
  }
}

.aim {
  background: #800040;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  h2 {
    font-weight: normal;
    font-size: 120%;
    color: #fff;
    margin: 10px;
  }
}

.right {
  float: right;
}
.center {
  text-align: center;
}

input[type=text], input[type=password], input[type=email], input[type=number], input[type=url], input[type=tel], textarea {}

// FORMS
.contact_form, .search_form {
  max-width: 980px;
  margin: 0 auto;
  border: 1px solid #d0e7e8;
  background-color: #f1f9f9;
  padding: 40px;
  box-sizing: border-box;
  margin-top: 30px;
  margin-bottom: 30px;

  > form {
    > .send_button {
      margin: 20px 0 10px;
      max-width: 120px;
      background-color: #51ac31;
      text-align: center;
      text-indent: 0;
      color: #fff;
      font-size: 120%;
      padding: 20px;
      height: 60px!important;
      border: 1px solid #006f26;
      border-radius: 3px;
      &:hover {
        background-color: #227438!important;
      }
     }
    > input {
      width: 100%;
      border: #d0e7e8 2px solid;
      height: 36px !important;
      margin-bottom: 12px;
      display: inline-block;
      font-size: 100% !important;
    }
    > select {
      width: 100%;
      border: #d0e7e8 2px solid;
      height: 36px !important;
      margin-bottom: 12px;
      display: inline-block;
      font-size: 100% !important;
      background-color: #fff;
      text-indent: 5px!important;
    }

    > label {
      font-weight: bold;
    }
    > textarea {
      width: 100%;
      height:150px;
      border: #d0e7e8 2px solid;
    }
  }
}

/*services*/
.services {
  margin: 0 auto;
}

.service {
  max-width: 300px;
  display: inline-block;
  padding: 10px;
  border: 1px solid #cacaca;
  border-bottom: 2px solid #cacaca;
  min-height: 100px;
  background: #f5f5f5;
  margin: 10px;
  &:hover {
    text-decoration: none;
    background: #fff;
    border-color: #8d0109;
    border-bottom: 2px solid #8d0109;
  }
  h2 {
    text-decoration: underline;
    color: #015aa7;
    margin: 0;
  }
  a {
    margin: 0 auto;
    display: block;
    padding: 15px 0;
  }
  > a {
    display: block;
    > img {
      height: 100px;
      margin: 0 auto;
      display: block;
    }
  }
}

// vseobecne styly pro prvky pouzivane skrz cely web

.header.top, .masterin {
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin-left: 30px;
}

a, a:link, a:visited {
  color: #2a6ebb;
  &:hover, &:focus {
    color: #d42c05;
    text-decoration: none;
  }
}
p {
  margin: 0 10px;
  padding-bottom: 12px;
}

h1, h2, h3, h4, strong {
  color: #202020;
}

h3, h4 {
  margin: 15px 10px 10px 10px;
}

h1 {
  font-size: 170%;
  border-bottom: 2px solid #eaeaea;
  padding-bottom: 0.5ex;
  margin: 15px 10px 10px;
  font-weight: bold;
}

h2 {
  margin-left: 10px;
  font-size: 130%;
  font-style: italic;
  font-weight: bold;
  -webkit-margin-before: 0.83em;
}

h3 {
  font-weight: bold;
  font-size: 1.17em;
}

h4 {
  font-weight: bold;
  font-size: inherit;
}

.small, span {
  font-size: 80%;
}

input {
  outline: none;
  &[type=text], &[type=email], &[type=password] {
    -webkit-appearance: none!important;
  }
  &:hover, &:focus {
    outline: none;
  }
}
.cleaner {
  clear: both;
  height: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  display: block;
  width: 100%;
}

.column-3 {
  width: 30%;
  float: left;
}

.column-7 {
  width: 70%;
  float: left;
}

.justify {
  margin: 25px 0 20px 0;
}

.button-primary,
input[type=submit].button-primary {
  border-radius: 5px!important;
  -webkit-border-radius: 5px!important;
  -moz-border-radius: 5px!important;
  background: linear-gradient(#51ac31, #227438)!important;
  font-weight: bold!important;
  text-align: center!important;
  display: block!important;
  margin: 5px 0!important;
  color: #fff!important;
  padding: 10px!important;
  text-decoration: none!important;
  max-width: 350px!important;
  font-size: 100%!important;
  &:hover {
    color: #fff!important;
    background: linear-gradient(#227438, #51ac31)!important;
  }
}

label.required:after{content:"*"}

