section.detail-content#author
  h2 O autorovi
  | <p><em>Jméno příjmení</em> autora (dále jen "Autor") -<strong> to je automaticky generovany text</strong> E-knihy od autora „Autor“ nabízíme ve formátech <a href="#">PDF</a>*, <a href="#">EPUB</a>*, <a href="#">MOBI</a>* <strong>*(dle databáze).</strong> „Autor“ má u nás v nabídce aktuálně <strong>„XY“</strong> elektronických knih. Podívejte se na oblíbené e-knihy autora „<a href="#">Autor</a> za skvělé ceny. Věříme, že se vám tyto elektronické knihy budou líbit.
            </p><p>  <strong>Prvních 5 řádků textu, ktery tam bude, jen kdyz si ho napiseme v administraci: </strong><em>Bohumil Říha</em> se narodil v rodině vesnického kováře, který byl zaměstnáván na různých velkostatcích, proto se rodina často stěhovala. Po měšťance v Čáslavi absolvoval v roce 1925 i tamní učitelský ústav. <a href="#"> Další informace o autorovi “jméno příjmení” a jeho knihách (vede na stránku /autor/jmeno-prijmeni)</a></p>
            <h3>Rozhovor s autorem [video]</h3><p>video musí jít vložit odkazem v administraci (starý wisivig to neumí)</p>
            <h3>Napsali o autorovi</h3>
            <p>Karin tmosféry. Hlavní postavy jsou lidské (oproti neuvěřitelným – skoro "supermanovským" v jiných detektivních knihách) a čtenář si je velmi rychle oblíbí. Drtivá většina jejích knih se odehrává v její milované Atlantě neb</p>
            <h3>Získaná ocenění</h3>
            <p>ánoce se blíží a náš serál pokračuje. Po doporučeních pro SEO, Vláďa @prichystal tipy k PPC. http://www.besteto.cz/ppc-vanoce  pic.twitter.com/Z7wqi3FRVK</p>
            <h3>Externí odkazy</h3>
