section.detail-content#publisher
  h2 = I18n.t('app.page.products.about_publisher')
  | <p><em>Nakladatelství Domino</em> vydává zejména překladovou literaturu. E-knihy vydává ve čtyřech edicích: Historická řada – biografie, romány; Napětí – detektivky, thrillery, špionážní romány, soudní drama; Romány z lékařského prostředí; Romantika – pro ženy. Mimo edice jsou zařazeny romány a knihy, které žánrově nespadají do žádné z uvedených edic.</p>